.item{
    display: flex;
    margin: 16px 0;
    padding: 6px;
    background-color: rgb(183, 241, 222);

}
.content{
    flex: auto;
    text-align: center;
    font-weight: bold;
}
.desc{
    font-size: 16px;
    color: #194B49;

}
.time{
    color: #D62828;
}